#project-level ignores
/.gradle/
/local.properties     # SDK paths, machine-specific

#module build output
/app/build/           # Gradle’s compiled APKs, intermediates
/app/.cxx/            # NDK/CMake obj + lib
